.detail {
    * {
        font-family: 'Poppins';
    }
    background-color: #000;
    // margin: 20px 0 20px 0;
    padding: 50px;
    color: #fff;
    .logo-footer {
        max-width: 100px;
        margin-left: 100px;
    }
    .title {
        // color: rgb(71, 79, 82);
        text-align: center;
    }
    .project-title {
        color: #8d8d8d;
        text-align: center;
        margin-bottom: 50px;
    }
    // .project-name {
    //     color: rgb(71, 79, 82);
    // }
    .project-description {
        color: #8d8d8d;
        line-height: 1;
    }
    .image-desc {
        width: 100%;
        border-radius: 5px;
    }
    img.image-desc-little {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    @media (max-width: 992px) {
        .container,
        .container-md,
        .container-sm {
            max-width: 1000px;
        }
    }
}
