.header {
    .navbar-center {
        float: none;
        margin: 0;
        transform: translate(5%);
    }

    .new-nav {
        text-align: center;
        padding: 15px;
    }

    .logo {
        max-width: 50px;
        float: left;
        position: fixed;
        top: 20px;
        margin-left: 50px;
        z-index: 1000;
    }

    .main-page {
        padding: 0;
    }

    .navbar-center a {
        text-decoration: none;
        padding: 0 30px;
        color: #616161;
        text-align: center;
        letter-spacing: 3px;
    }

    .sosmed {
        float: left;
        margin-right: -130px;
    }

    .sosmed a {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 2px;
        font-size: 20px;
        color: grey;
        text-align: center;
        line-height: 35px;
        /* margin-left: 3px; */
        transition: all .25s;
    }

    .hamburger-menu {
        float: right;
        /* margin-right: 15px; */
        z-index: 2;
    }

    #menu-toggle {
        opacity: 0;
    }

    #menu-toggle:checked~.menu-btn>span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked~.menu-btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked~.menu-btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked~.menu-box {
        visibility: visible;
        right: 0;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        position: fixed;
        width: 20px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        top: 35px;
        right: 80px;
    }

    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu-btn>span::before {
        content: '';
        top: -8px;
    }

    .menu-btn>span::after {
        content: '';
        top: 8px;
    }

    .menu-box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100%;
        margin: 0;
        padding: 150px 0;
        list-style: none;
        background-color: #000;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        opacity: 0.8;
        transition-duration: .25s;
    }

    .menu-item {
        display: block;
        padding: 12px 24px;
        text-align: initial;
        color: #fff;
        font-size: 17px;
        letter-spacing: 3px;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu-item:hover {
        color: #47c9e5;
    }

    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
        background-color: #6a787b;
    }

    .home-nav {
        padding: 20px 100px 100px 100px;
        margin-bottom: 100px;
    }

    .navbar-center a:hover {
        color: #47c9e5;
        transition: all .5s;
    }

    .home-navbar-center a {
        text-decoration: none;
        padding: 0 30px;
        color: #cbcbcb;
        text-align: center;
        letter-spacing: 3px;
    }

    .home-navbar-center a:hover {
        color: #47c9e5;
        transition: all .5s;
    }

    .home-logo {
        max-width: 50px;
        position: fixed;
        top: 50px;
        margin-left: -150px;
        z-index: 10;
    }

    .home-menu-btn {
        position: fixed;
        width: 20px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        top: 80px;
        right: 80px;
    }

    .home-menu-btn>span,
    .home-menu-btn>span::before,
    .home-menu-btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #cbcbcb;
        transition-duration: .25s;
    }

    .home-menu-btn>span::before {
        content: '';
        top: -8px;
    }

    .home-menu-btn>span::after {
        content: '';
        top: 8px;
    }

    .home-menu-btn>span,
    .home-menu-btn>span::before,
    .home-menu-btn>span::after {
        background-color: #cbcbcb;
    }

    #menu-toggle:checked~.home-menu-btn>span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked~.home-menu-btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked~.home-menu-btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    @media (max-width: 900px) {
        .home-nav {
            padding: 20px 100px 0px 100px;
            margin-bottom: 0;
        }

        .navbar-center {
            display: none;
        }

        .home-navbar-center {
            display: none;
        }

        .logo {
            margin-left: 10px;
        }

        .menu-btn {
            right: 25px;
        }

        .home-menu-btn {
            right: 35px;
        }

        .home-logo {
            margin-left: -140px;
        }
    }

    @media (max-width: 320px) {
        .home-logo {
            margin-left: -130px;
        }
    }
}
