.home-page {
    * {
        font-family: 'Poppins';
    }
    h1 {
        color: cornsilk;
    }

    span.typing {
        color: rgba(255, 255, 255, 0.7);
        line-height: 1.5;
    }

    .main-page {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 100px 240px 100px;
        background-image: url("/img/home-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        min-height: 100vh;
        @media (max-width: 1024){
            min-height: 0vh;
        }
    }

    .title {
        display: block;
        font-weight: 100;
        font-size: 70px;
        color: cornsilk;
        letter-spacing: 1px;
    }

    .logo {
        max-width: 100px;
        margin-bottom: 6rem;
        margin-left: -130px;
    }

    .menu {
        color: white;
        width: 35px;
        height: 35px;
    }

    .profile-text {
        padding: 0 200px 0 200px;
    }

    li.nav-link.active {
        background-color: #47c9e5;
        color: white;
    }

    p {
        color: #ccc;
    }

    .portfolio {
        margin-top: -130px;
        padding: 0px 90px 0px 90px;
        transform: translate(-10px, 10px);
        margin-bottom: 20px;
    }

    @media (max-width: 992px) {
        .portfolio {
            padding: 0px 70px 0px 50px;
            transform: translate(0px, -5px);
        }
        .profile-text {
            padding: 0;
        }
        .socmed-link {
            display: none;
        }
        .logo {
            margin-left: 0px;
        }
    }

    @media (max-width: 600px) {
        .portfolio {
            padding: 0;
            transform: translate(-15px, 10px);
        }
        .profile-text {
            padding: 0;
        }
        .main-page {
            padding: 100px 80px 100px 70px;
        }
    }

    @media (max-width: 320px) {
        .portfolio {
            transform: translate(-10px, 25px);
        }
        .main-page {
            padding: 70px 50px 180px 50px;
        }
        .gallery .nav-bar .nav-link {
            font-size: 13px;
            padding: 5px 10px;
        }
    }

    img {
        width:100%;
        border-radius: 5px;
    }

    .socmed-link {
        float: left;
        margin-top: 6px;
        max-width: 180px;
    }

    .socmed-link a {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-left: 3px;
        transition: all .25s;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        right: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100%;
        margin: 0;
        padding: 150px 0;
        list-style: none;
        background-color: #000;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        opacity: 0.5;
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        text-align: initial;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        color: #47c9e5;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        background-color: #fff;
    }
}
